.vacancy {
  &__item {
    background-color: $palette-gray;
    padding: 24px 20px;
    border-radius: $border-radius--medium;
  }

  &__title {
    margin-bottom: 30px;
    font-family: Furore, sans-serif;
    font-size: $font-size__text--large;
    font-weight: $weight-Regular;

    @include breakpoint($breakpoint-mobile--large) {
      font-size: $font-size__text--regular + 3;
    }
  }

  &__content {
    line-height: 140%;
    margin-bottom: 50px;

    @include breakpoint($breakpoint-mobile--large) {
      margin-bottom: 25px;
      font-size: 16px;
    }
  }

  &__price {
    margin-top: 5px;
    font-size: 22px;

    @include breakpoint($breakpoint-mobile--large) {
      font-size: 18px;
    }
  }

  &__action {
    display: flex;
    align-items: center;

    .button {
      padding-left: 30px;
      padding-right: 30px;

      @include breakpoint($breakpoint-laptop--large) {
        padding-left: 15px;
        padding-right: 15px;
      }

      @include breakpoint($breakpoint-tablet--large) {
        width: 100%;
      }
    }
  }
}
