// -----------------------------------------------------------------------------
// В этом файле прописываются все стили относящиеся к подвалу сайта
// -----------------------------------------------------------------------------

#footer {
  padding-top: 60px;
  padding-bottom: 30px;

  background-color: $palette-gray;
}

.footer {
  &__contact {
    display: flex;
    flex-direction: column;

    @include breakpoint($breakpoint-tablet--large) {
      font-size: 16px;
    }
  }

  &__copyright {
    display: flex;
    align-items: center;

    margin-top: 40px;

    @include breakpoint($breakpoint-tablet--large) {
      font-size: 14px;
    }

    & > * {
      color: $color-text__darkgray;
    }
  }
}
