.nav {
  &__primary {
  }

  &__additional {
    .nav__link {
      font-size: $font-size__text--small;
      font-weight: $weight-Regular;
    }
  }

  &__list {
    display: flex;
    align-items: center;
  }

  &__item {
  }

  &__link {
    padding: 5px 0;
    font-size: $font-size__text--regular;
    font-weight: $weight-Bold;
    color: $color-text__white;

    transition: $transition__link;

    &--active {
      color: map-get($color-text__yellow, "yellow");
    }

    @media (hover: hover) {
      &:hover {
        color: map-get($color-text__yellow, "yellow");
      }
    }
  }

  &--header {
    @include breakpoint($breakpoint-tablet--large) {
      display: none;
    }

    .nav__item {
      &:not(:last-child) {
        margin-right: 20px;
      }
    }
  }

  &--footer {
    .nav__list {
      flex-direction: column;
      align-items: flex-start;
    }

    .nav__link {
      display: block;
      font-weight: $weight-Regular;

      @include breakpoint($breakpoint-tablet--large) {
        font-size: 16px;
      }

      &--main {
        margin-bottom: 15px;
        padding-top: 0;

        font-size: $font-size__text--large;
        font-weight: $weight-Bold;

        @include breakpoint($breakpoint-tablet--large) {
          margin-bottom: 5px;
          font-size: 18px;
        }
      }
    }
  }
}
