// -----------------------------------------------------------------------------
// Фрагмент стилизации страниц
// -----------------------------------------------------------------------------

.page {
  &__title {
    font-size: $font-size__title--small;

    line-height: 130%;
    letter-spacing: 2px;

    color: $color-text__white;

    @include breakpoint($breakpoint-laptop--large) {
      font-size: $font-size__title--small - 8;
    }

    @include breakpoint($breakpoint-tablet--large) {
      font-size: 20px;

      br {
        display: none;
      }
    }
  }

  &__subtitle {
    font-size: $font-size__text--large;
    font-weight: $weight-Regular;

    @include breakpoint($breakpoint-laptop--large) {
      font-size: $font-size__text--regular;
    }

    @include breakpoint($breakpoint-tablet--large) {
      br {
        display: none;
      }
    }
  }
}
