.modal-callback {
  .modal__content {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
  }

  .modal__wrapper {
    @include breakpoint($breakpoint-tablet--large) {
      width: 100%;
    }
  }

  .modal__picture {
    @include breakpoint($breakpoint-tablet--large) {
      display: none;
    }
  }
}
