.logo {
  & > a {
    @media (hover: hover) {
      &:hover img {
        opacity: 0.6;
      }
    }
  }

  &--header {
    .logo__image {
      max-width: 120px;

      @include breakpoint($breakpoint-laptop--large) {
        max-width: 95px;
      }
    }
  }

  &--about {
    .logo__image {
      max-width: 120px;

      @include breakpoint($breakpoint-laptop--large) {
        max-width: 105px;
      }
    }
  }

  &--footer {
    .logo__image {
      max-width: 140px;

      @include breakpoint($breakpoint-mobile--large) {
        max-width: 100px;
      }
    }
  }

  &__image {
    width: 100%;
    transition: $transition__link;
  }
}
