// -----------------------------------------------------------------------------
// В этом файле содержатся настройки для верстки
// -----------------------------------------------------------------------------

$header-height: 80px;
$header-height--mobile: 70px;
$section-padding: 140px;