.page-loader {
  position: fixed;
  z-index: 10000;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  background-color: $palette-gray;

  opacity: 1;
  visibility: visible;
  transition: all 0.3s ease;

  &--hide {
    opacity: 0;
    visibility: hidden;
  }

  &__wrapper {
    @include flex($justify: center);

    position: relative;

    height: 100%;
  }

  &__spinner {
    width: 180px;
    height: 180px;

    animation-name: spinner;
    animation-duration: 3000ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear;

    @include breakpoint($breakpoint-mobile--large) {
      width: 120px;
      height: 120px;
    }
  }

  &__logo {
    position: absolute;
    z-index: -1;
    top: 50%;
    left: 50%;

    width: 120px;

    transform: translate(-50%, -50%);

    @include breakpoint($breakpoint-mobile--large) {
      width: 80px;
    }

    img {
      width: 100%;
    }
  }
}

@keyframes spinner {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
