.card {
  position: relative;

  padding: 30px;
  border-radius: $border-radius--medium;

  background-color: $palette-gray;

  @include breakpoint($breakpoint-tablet--large) {
    padding: 20px;
  }
}
