#about {
}

.about {
  &__logo {
    margin-bottom: 50px;

    @include breakpoint($breakpoint-laptop--large) {
      margin-bottom: 30px;
    }

    @include breakpoint($breakpoint-tablet--large) {
      margin-bottom: 20px;
    }
  }

  &__description {
    text-align: justify;
    margin-bottom: 60px;

    @include breakpoint($breakpoint-laptop--large) {
      margin-bottom: 40px;
    }

    @include breakpoint($breakpoint-tablet--large) {
      margin-bottom: 30px;
    }
  }

  &__picture {
    height: 400px;

    @include breakpoint($breakpoint-tablet--large) {
      height: 250px;
    }
  }
}
