#feedback {
}

.feedback {
  &__item {
    border-radius: $border-radius--large;
  }

  &__content {
    margin-bottom: 20px;
  }

  &__text {
    @include breakpoint($breakpoint-tablet--large) {
      font-size: $font-size__text--regular - 2;
    }
  }

  &__footer {
    display: flex;
    align-items: center;
  }

  &__avatar {
    width: 75px;
    height: 75px;

    margin-right: 30px;

    border-radius: 50%;
    overflow: hidden;

    @include breakpoint($breakpoint-tablet--large) {
      width: 60px;
      height: 60px;

      margin-right: 20px;
    }
  }

  &__info {
    display: flex;
    flex-direction: column;

    font-weight: $weight-Bold;

    @include breakpoint($breakpoint-tablet--large) {
      font-size: 16px;
    }
  }

  &__name {
    margin-bottom: 10px;

    @include breakpoint($breakpoint-tablet--large) {
      margin-bottom: 5px;
    }
  }

  &__company {
    color: map($color-text__yellow, "gold");
  }
}
