#service {
  padding-top: 0;
  margin-top: $section-padding;
  overflow: hidden;

  @include breakpoint($breakpoint-tablet--large) {
    margin-top: 70px;
  }

  .section__wrapper {
    width: 50%;

    @include breakpoint($breakpoint-tablet--large) {
      width: 100%;
    }

    &::after {
      content: "";
      position: absolute;
      top: 0;

      width: 100%;
      height: 100%;
    }

    &::before {
      @include breakpoint($breakpoint-tablet--large) {
        content: "";
        position: absolute;
        top: 0;

        width: 100%;
        height: 100%;
      }
    }

    // Первая колонка
    &:first-child {
      z-index: 1;
      background-color: map($palette-blue, "darken");

      &::after {
        left: -100%;
        background-color: map($palette-blue, "darken");
      }

      &::before {
        @include breakpoint($breakpoint-tablet--large) {
          right: -100%;
          background-color: map($palette-blue, "darken");
        }
      }

      .section__image {
        position: absolute;

        &:first-child {
          top: -360px;
          left: -110px;

          width: 400px;

          @include breakpoint($breakpoint-laptop--large) {
            top: -160px;
            left: 0;
            width: 300px;
          }
        }

        &:last-child {
          right: -100px;
          bottom: -430px;

          width: 500px;

          @include breakpoint($breakpoint-laptop--large) {
            right: -100px;
            bottom: -230px;
            width: 400px;
          }
        }
      }
    }

    // Вторая колонка
    &:last-child {
      z-index: 2;
      padding-left: 80px;
      background-color: map($palette-blue, "regular");

      box-shadow: -5px 0 30px rgba(0, 0, 0, 0.35);

      @include breakpoint($breakpoint-tablet--large) {
        padding-left: 0;
      }

      &::after {
        right: -100%;
        background-color: map($palette-blue, "regular");
      }

      &::before {
        @include breakpoint($breakpoint-tablet--large) {
          left: -100%;
          background-color: map($palette-blue, "regular");
        }
      }

      .section__image {
        position: absolute;

        &:first-child {
          top: -360px;
          right: -110px;

          width: 400px;

          @include breakpoint($breakpoint-laptop--large) {
            top: -230px;
            right: unset;
            left: 50px;
            width: 350px;
          }

          @include breakpoint($breakpoint-laptop--large) {
            display: none;
          }
        }

        &:last-child {
          right: -190px;
          bottom: -330px;

          width: 480px;

          @include breakpoint($breakpoint-laptop--large) {
            right: -80px;
            bottom: -160px;
            width: 300px;
          }
        }
      }
    }
  }

  .section__picture {
    z-index: 2;
    top: 0;
    right: 30px;

    width: 100%;
    height: 100%;
  }
}

.service {
  display: flex;
  justify-content: space-between;

  @include breakpoint($breakpoint-tablet--large) {
    flex-wrap: wrap;
  }

  &__col {
    position: relative;
    z-index: 5;
  }

  &__content {
    overflow: hidden;
    padding: 220px 0;

    @include breakpoint($breakpoint-laptop--large) {
      padding: 110px 0;
    }

    @include breakpoint($breakpoint-tablet--large) {
      padding: 65px 0;
    }
  }

  &__title {
    margin-bottom: 25px;

    font-size: $font-size__title--large;
    color: $color-text__white;

    @include breakpoint($breakpoint-laptop--large) {
      font-size: $font-size__text--large;
    }
  }

  &__description {
    margin-bottom: 35px;
  }

  &__action {
    position: relative;
  }

  &__icon {
    position: absolute;
    bottom: 0;
    left: 400px;

    @include breakpoint($breakpoint-laptop--large) {
      left: 280px;
    }

    @include breakpoint($breakpoint-tablet--large) {
      right: 10px;
      left: initial;
    }
  }
}
