// -----------------------------------------------------------------------------
// Фрагмент стилизации какой-то секции
// -----------------------------------------------------------------------------

#step {
}

.step {
  &__col {
    &:nth-child(2) {
      margin-top: 70px;

      @include breakpoint($breakpoint-tablet--large) {
        margin-top: 0;
      }
    }

    &:nth-child(3) {
      @include breakpoint($breakpoint-laptop--large) {
        margin-top: -40px;
      }

      @include breakpoint($breakpoint-tablet--large) {
        margin-top: 0;
      }
    }

    &:nth-child(4) {
      margin-top: 70px;

      @include breakpoint($breakpoint-laptop--large) {
        margin-top: 30px;
      }

      @include breakpoint($breakpoint-tablet--large) {
        margin-top: 0;
      }
    }
  }

  &__item {
    height: 250px;
    overflow: hidden;

    @include breakpoint($breakpoint-tablet--large) {
      height: 200px;
    }
  }

  &__title {
    margin-bottom: 20px;
    font-size: $font-size__text--large;

    @include breakpoint($breakpoint-laptop--large) {
      max-width: 240px;
    }

    @include breakpoint($breakpoint-tablet--large) {
      font-size: $font-size__text--regular;
    }
  }

  &__description {
    max-width: 350px;

    @include breakpoint($breakpoint-laptop--large) {
      max-width: 300px;
      font-size: $font-size__text--regular - 2;
    }

    @include breakpoint($breakpoint-tablet--large) {
      width: 100%;
      font-size: $font-size__text--small;

      br {
        display: none;
      }
    }

    @include breakpoint($breakpoint-mobile) {
      width: 100%;
    }
  }

  &__picture {
    position: absolute;

    @include breakpoint($breakpoint-mobile--large) {
      display: none;
    }

    &--first {
      top: 0;
      right: 50px;

      @include breakpoint($breakpoint-laptop--large) {
        right: 30px;
      }

      @include breakpoint($breakpoint-tablet--large) {
        width: 40px;
      }
    }

    &--second {
      top: 30px;
      right: 45px;

      @include breakpoint($breakpoint-tablet--large) {
        top: 70px;
        right: 25px;
        width: 50px;
      }
    }

    &--third {
      top: 25px;
      right: 30px;

      @include breakpoint($breakpoint-tablet--large) {
        top: 55px;
        right: 15px;
        width: 80px;
      }
    }

    &--fourth {
      top: 20px;
      right: 20px;

      @include breakpoint($breakpoint-tablet--large) {
        top: 55px;
        width: 80px;
      }
    }
  }
}
