// -----------------------------------------------------------------------------
// В этом файле общие стили для компонента "Аккордеон"
// и подключение дополнительных вариаций
// -----------------------------------------------------------------------------

.handorgel {
  &--block {
    border: none;

    .handorgel__header {
      border-top: 3px solid map($pallete-blue, "regular");
    }

    .handorgel__header__button {
      justify-content: space-between;

      border: none;
      padding: 20px 0;

      background-color: transparent;
    }

    .handorgel__header__text {
      padding-right: 35px;

      font-weight: $weight-Bold;
      font-size: $font-size__text--large;
    }

    .handorgel__content {
      background-color: transparent;
    }

    .handorgel__content__inner {
      padding: 0;
    }

    .handorgel__indicator {
      margin-left: auto;
      transition: $transition__component;
    }

    .handorgel__arrow {
      width: 20px;
    }
  }

  &__header {
    &--focus {
      .handorgel__header__button {
      }
    }

    &--open {
      .handorgel__header__button {
      }
    }

    &--opened {
      .handorgel__indicator {
        transform: rotate(180deg);
      }
    }
  }

  &__header__button {
    display: flex;
    align-items: center;
    cursor: pointer;

    transition: box-shadow 0.15s ease;
  }

  &__title {
    font-weight: $weight-Medium;
  }

  &__content {
    border: none;
  }

  &__indicator {
  }

  &__arrow {
    width: 12px;
  }

  // &__icon {
  //   transition: transform 0.15s ease;

  //   @include breakpoint($breakpoint-laptop) {
  //     display: none;
  //   }

  //   &--mobile {
  //     display: none;

  //     @include breakpoint($breakpoint-laptop) {
  //       display: block;
  //     }
  //   }

  //   &--opened {
  //     transform: rotate(90deg);
  //   }
  // }

  // &__link {
  //   @include flex();
  //   color: #c04343;
  // }

  // &__content {
  //   display: none;
  //   height: 0;

  //   overflow: hidden;
  //   transition: height 0.1s ease 0.1s;

  //   &__text {
  //     @include breakpoint($breakpoint-mobile-large) {
  //       font-size: $font-size-6;
  //     }
  //   }

  //   &__inner {
  //     padding: 16px 14px;

  //     opacity: 0;
  //     transition: opacity 0.1s ease;
  //   }

  //   &--open {
  //     display: block;
  //     transition: height 0.2s ease;
  //   }

  //   &--opened {
  //     overflow: visible;

  //     .handorgel__content__inner {
  //       opacity: 1;
  //       transition: opacity 0.3s ease;
  //     }
  //   }
  // }
}
