// -----------------------------------------------------------------------------
// В этом файле общие стили для компонента "Аккордеон"
// и подключение дополнительных вариаций
// -----------------------------------------------------------------------------

.handorgel {
  &--block {
    border: none;

    .handorgel__header {
      border-top: 3px solid map($palette-blue, "regular");
    }

    .handorgel__header__button {
      justify-content: space-between;

      border: none;
      padding: 20px 0;

      background-color: transparent;

      @include breakpoint($breakpoint-tablet--large) {
        padding: 15px 0;
      }
    }

    .handorgel__header__text {
      padding-right: 35px;

      font-weight: $weight-Bold;
      font-size: $font-size__text--large;

      @include breakpoint($breakpoint-tablet--large) {
        font-size: $font-size__text--regular;
      }
    }

    .handorgel__content {
      background-color: transparent;
    }

    .handorgel__content__inner {
      padding: 0;
      line-height: 140%;

      @include breakpoint($breakpoint-tablet--large) {
        font-size: $font-size__text--small;
      }
    }

    .handorgel__indicator {
      margin-left: auto;
      transition: $transition__component;
    }

    .handorgel__arrow {
      width: 20px;
    }
  }

  &__header {
    &--focus {
      .handorgel__header__button {
      }
    }

    &--open {
      .handorgel__header__button {
      }
    }

    &--opened {
      .handorgel__indicator {
        transform: rotate(180deg);
      }
    }
  }

  &__header__button {
    display: flex;
    align-items: center;
    cursor: pointer;

    transition: box-shadow 0.15s ease;
  }

  &__title {
    font-weight: $weight-Medium;
  }

  &__content {
    border: none;
  }

  &__indicator {
  }

  &__arrow {
    width: 12px;
  }
}
