#hero {
  padding-top: 170px + $header-height;
  padding-bottom: 205px;

  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: map($palette-blue, "darken");

  @include breakpoint($breakpoint-laptop--large) {
    padding-top: 165px + $header-height;
    padding-bottom: 170px;
  }
}

.hero {
  position: relative;

  &__content {
  }

  &__title {
    margin-bottom: 30px;

    &--big {
      font-size: 56px;

      @include breakpoint($breakpoint-laptop--large) {
        font-size: 45px;
      }
    }
  }

  &__subtitle {
    margin-bottom: 50px;
  }

  &__picture {
    position: absolute;
    top: 50%;
    right: 0;
    max-width: 420px;

    transform: translateY(-50%);

    @include breakpoint($breakpoint-laptop--large) {
      max-width: 355px;
    }

    &--big {
      max-width: 620px;

      @include breakpoint($breakpoint-laptop--large) {
        max-width: 450px;
      }
    }
  }

  &__image {
    &--animated {
      animation-name: floating;
      animation-duration: 3s;
      animation-iteration-count: infinite;
      animation-timing-function: ease-in-out;
    }
  }
}
