#hero {
  padding-top: 170px + $header-height;
  padding-bottom: 205px;

  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: map($palette-blue, "darken");

  @include breakpoint($breakpoint-laptop--large) {
    padding-top: 165px + $header-height;
    padding-bottom: 170px;
  }

  @include breakpoint($breakpoint-tablet--large) {
    padding-top: 70px + $header-height--mobile;
    padding-bottom: 70px;
  }
}

.hero {
  position: relative;

  &__content {
  }

  &__title {
    margin-bottom: 30px;

    @include breakpoint($breakpoint-tablet--large) {
      margin-bottom: 20px;
    }

    &--big {
      font-size: 56px;

      @include breakpoint($breakpoint-laptop--large) {
        font-size: 45px;
      }

      @include breakpoint($breakpoint-tablet--large) {
        font-size: 36px;
      }
    }
  }

  &__subtitle {
    margin-bottom: 50px;

    @include breakpoint($breakpoint-tablet--large) {
      margin-bottom: 30px;
    }
  }

  &__picture {
    position: absolute;
    top: 50%;
    right: 0;
    max-width: 420px;

    transform: translateY(-50%);

    @include breakpoint($breakpoint-laptop--large) {
      max-width: 355px;
    }

    @include breakpoint($breakpoint-tablet--large) {
      position: static;
      max-width: 270px;
      margin: 40px auto 0;

      transform: none;
    }

    &--big {
      max-width: 620px;

      @include breakpoint($breakpoint-laptop--large) {
        max-width: 450px;
      }
    }
  }

  &__image {
  }

  &__action {
    @include breakpoint($breakpoint-tablet--large) {
      display: flex;
      align-items: center;
    }
  }

  .button {
    @include breakpoint($breakpoint-mobile--large) {
      flex-grow: 1;
    }

    @include breakpoint($breakpoint-mobile--medium) {
      padding: 15px 20px;
    }
  }
}
