#textblock {
}

.textblock {
  &__picture {
    margin-top: 85px;
    max-width: 660px;

    @include breakpoint($breakpoint-tablet--large) {
      margin-top: 45px;
      margin-left: auto;
      margin-right: auto;

      max-width: 300px;
    }
  }

  &__content {
    font-size: $font-size__text--large;

    @include breakpoint($breakpoint-laptop--large) {
      font-size: $font-size__text--regular;
    }
  }

  &__list {
    .list__item {
      text-align: justify;
    }
  }

  &__action {
    margin-top: 50px;

    @include breakpoint($breakpoint-laptop--large) {
      margin-top: 20px;
    }
  }
}
