#textblock {
}

.textblock {
  &__picture {
    margin-top: 85px;
    max-width: 660px;
  }

  &__content {
    font-size: $font-size__text--large;

    @include breakpoint($breakpoint-laptop--large) {
      font-size: $font-size__text--regular;
    }
  }

  &__list {
  }

  &__action {
    margin-top: 50px;

    @include breakpoint($breakpoint-laptop--large) {
      margin-top: 20px;
    }
  }
}
