.list {
  padding-left: 25px;

  &--big {
    .list__item {
      list-style-type: disc;

      &::marker {
        font-size: 32px;
        color: map($color-text__yellow, "gold");

        @include breakpoint($breakpoint-tablet--large) {
          font-size: 24px;
        }
      }

      &:not(:last-child) {
        margin-bottom: 30px;

        @include breakpoint($breakpoint-tablet--large) {
          margin-bottom: 15px;
        }
      }
    }
  }
}
