.section {
  padding-top: $section-padding;

  @include breakpoint($breakpoint-laptop--large) {
    padding-top: $section-padding - 40;
  }

  @include breakpoint($breakpoint-tablet--large) {
    overflow: hidden;
    padding-top: $section-padding - 70;
  }

  &--primary {
    padding-top: $header-height;
  }

  &--last {
    margin-bottom: 100px;

    @include breakpoint($breakpoint-tablet--large) {
      margin-bottom: 35px;
    }
  }

  &__title {
    display: inline-flex;
    margin-bottom: 50px;

    font-family: Furore, sans-serif;
    font-size: $font-size__title--regular;
    font-weight: $weight-Regular;

    color: $color-text__gray;

    @include breakpoint($breakpoint-laptop--large) {
      font-size: $font-size__title--small - 8;
    }

    @include breakpoint($breakpoint-tablet--large) {
      margin-bottom: 30px;
      font-size: 20px;
    }

    &--underline {
      padding-bottom: 25px;
      border-bottom: 4px solid $color-text__gray;

      @include breakpoint($breakpoint-laptop--large) {
        padding-bottom: 20px;
      }
    }
  }

  &__subtitle {
  }

  &__wrapper {
    position: relative;
  }

  &__picture {
    position: absolute;
  }
}
