$background: transparent;
$background--hover: $hover;

$border: #ffffff;
$border--hover: $hover;

.button-outline {
  background-color: $background;
  box-shadow: 0px 0px 0px 3px $border inset;

  @media (hover: hover) {
    &:hover {
      background-color: $hover;
      box-shadow: 0px 0px 0px 3px $border--hover inset;
    }
  }
}
