$border-radius: 4px;
$hover: #b66b26;
$focus: #b66b26;

.button {
  border: none;
  border-radius: $border-radius;

  padding: 16px 38px;

  color: $color-text__white;

  cursor: pointer;
  outline: none;

  text-align: center;
  transition: $transition__component;

  @include breakpoint($breakpoint-tablet--large) {
    padding: 16px 25px;
    font-size: 14px;
  }
}
